<!DOCTYPE html>
<html>

<head>
<title>Edit Student</title>

<style>

body{
font-family:Arial;
background:#eef2f7;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.form-box{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
width:300px;
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
padding:10px;
width:100%;
background:#667eea;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
}

</style>

</head>

<body>

<div class="form-box">

<h2>Edit Student Data</h2>

<form method="POST">

<input type="number" name="marks" value="{{ student.marks }}">

<input type="number" name="attendance" value="{{ student.attendance }}">

<input type="number" name="behaviour" value="{{ student.behaviour }}">

<button type="submit">Update</button>

</form>

</div>

</body>
</html>